.post {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgrey;
  }
  
  .post:hover {
    box-shadow: rgba(188, 223, 243, 0.2) 0px 0px, 7px 0px;
    cursor: pointer;
  }
  
  .post .title {
  flex: 20%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-bottom: 1px solid lightgrey;
  background-color: #6eb6fd;
  display: grid;
  }
  
  .post .body{
    flex: 60%;
    display: grid;
    border-radius: 10px;
    place-content: center;
  }
  
  .post .footer{
    flex: 20%;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    padding-left: 15px;
    background-color: #6eb6fd;
    display: grid;
  }